<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signin</title>
    <link rel="stylesheet" href="/public/formstyle.css" type="text/css">
</head>
    <body>
        <div class="div-fields">
            <h1 id="title">SIGNIN</h1>
            <form method="post">
            <input class="input-fields" type="email" name="Email" placeholder="Enter Email" required>
            <br>
            <input class="input-fields" type="password" name="Password" placeholder="Enter Password" required>
            <br>
            <button type="submit" id="signin">Signin</button>
            <button type="button" id="register">Register</button>
            </form>
        </div>
        <script>
            document.getElementById('register').addEventListener("click", () => {
                location.href = 'http://localhost:3000/user/register';
            }); 
        </script>
    </body>
</html>